<div  class='settings'>
    <ul>
        <li>
            <div>
                字体大小
                <span>中&nbsp;></span>
            </div>
            <div>
                Wi-Fi下自动离线
                <span>
                    <img src="./public/images/lxan.png" alt="">
                </span>
            </div>
        </li>
        <li>
           <div>绑定微博账号</div>
        </li>
        <li>
            <div>清理缓存</div>
        </li>
        <li>
            <div>意见反馈
                <span>></span>
            </div>

            <div>关于
             <span>></span>
            </div>
        </li>
    </ul>
</div>